<div class="jumbotron jumbotron-fluid   d-flex align-items-center justify-content-center" style="height: 400px;">
    <!-- Row-1 -->
   
        <div class="row  " >
            <div class="col-6 ">
                <div class="">
                    <h1 class="display-4">The Journey of dreams</h1>
                    <p class="lead">So many books, so little time</p>
                </div>
            </div>
            <!-- Row-2 -->
            <div class="col-6 ">
                <div class=" text-center ">
                   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8eYyAr3CAH6jI0MGAnwa2El8oLZURFCzu9A&usqp=CAU" width="400px" alt="" srcset="">
                  
                </div>
            </div>
        </div>
</div>
<div class="container">
    <app-book-list></app-book-list>
</div>
