.textOverflow {
    font-size: .9vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-title {
    font-size: larger;
    font-weight: 700;
}

.text-author {
    font-size: medium;
    font-weight: 500
}

.card-content {
    margin: 20px;
}

.add-card {
    width: 13rem;
    height: 250px;
    margin-top: 20px;
    margin-left: 60px;
}

.add-card:hover{
    opacity: 0.3;
    background-color: grey;
}

.add-image:hover{
    opacity: 100%;
}
.form-class{
    padding: 1000px,100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}